<html>
<head>
<title>HTML Form</title>
</head>
<body text="red">
<table width="50%"  bordercolor="blue" bgcolor="yellow" >
<caption>HTML Form</caption>
<form>
<tr>
<td>Name:</td>
<td><input type="text" name="Name" size="15" maxlength="22" placeholder="Enter your name" ></td>
</tr>
<tr>
<td>Date Of Birth:</td>
<td><input type="date" name="Date Of Birth">
</tr>
<tr>
<td>Father's Name:</td>
<td><input type="text" name="Father's Name" size="15" maxlength="22" placeholder="Enter your Father's name"></td>
</tr>
<tr>
<td>Mother's Name:</td>
<td><input type="text" name="Mother's Name" size="15" maxlegth="22" placeholder="Enter your Mother's Name"></td>
</tr>
<tr>
<td>Gender:</td>
<td><input type="radio" name="Gender" value="Male">Male
<input type="radio" name="Gender" value="Female">Female</td>
</tr>
<tr>
<td>Caegory:</td>
<td><input type="radio" name="Category" value="Gen">Gen
<input type="radio" name="Category" value="OBC">OBC
<input type="radio" name="Category" value="SC">SC
<input type="radio" name="Category" value="ST">ST</td>
</tr>
<tr>
<td>Language:</td>
<td><input type="checkbox"  name="Language" value="Hindi">Hindi
<input type="checkbox" name="Language" value="English">Enlish
<input type="checkbox" name="Language" value="Bhojpuri">Bhojpuri</td>
</tr>
<tr>
<td>Password:</td>.
<td><input type="password" size="15" maxlength="10" name="Password" placevalue="enter password"></td>
</tr>
<tr>
<td><input type="submit" name="submit" value="Submit">
<input type="button" name="save" value="save"></td>
</tr>
</form>
</table>
</body>
</html>

