<html>
<head>
<title>HTML FORM</title>
<link rel="stylesheet" type="text/css"  href="../template/a1.css">
</head>
<body>
<h1 id="a1">Din Dyal Upadhyay Gorakhpur	
<br>Gorakhpur University 									
</h1>
<table align="center" id="a2" width="90%">
<caption>ADMISSION FORM</caption>
<form><tr>
<td>Chass To Be Admission:</td>
<td><input type="text" size="20" maxlength="17" name="Chose To Be Admission" placeholder="enter text"></td>
</tr><tr>
<td>Session:</td>
<td><input type="text" size="20" maxlength="10" name="Session" placeholder="enter session"></td></tr>
<tr><td>Name Of Applicant:</td>
<td><input type="text" size="20" name="Name Of Applicant" placeholder="enter applicant name"></td>
<td>Mobile No.:</td>
<td><select name="Mobile No. "><option value="+91">+91</option>
<option value="+97">+91</option>
<option value="+12">+12</select>
<input type="phone no." size="10" maxlength="10" name="Mobile No." placeholder="enter mobile no."></td></tr>
<tr><td>Father's Name:</td>
<td><input type="text" name="Father's Name" size="20" maxlegth="17" placeholder="enter father's name"></td>
<td>Mobile No.:</td>
<td><select name="Mobile No. ">
<option value="+91">+91</option>
<option value="+97">+97</option>
<option value="+12">+12</select>
<input type="phone no." size="10" maxlength="10" name="Mobile No." placeholder="enter mobile no."></td>
</tr>
<tr><td>Mother's Name:</td>
<td><input type="text" size="20" maxelength="17" name="Mother's Name" placeholder="enter mother's namen"></td>
<td>Mobile No.:</td>
<td><select name="Mobile No. ">
<option value="+91">+91</option>
<option value="+97">+91</option>
<option value="+12">+12</select>
<input type="phone no." size="10" maxlength="10" name="Mobile No." placeholder="enter mobile no."></td></tr>
<tr><td>Permanent Address:</td>
<td><input type="textarea"  name="Permanent Address" placeholder="enter your address"> </td>
</tr>
<tr><td>Date Of birth</td>
<td><input type="date" name="Date Of Birth"></td></tr>
<tr>
<td>Police Station:</td>
<td><input typr="text" size="15" maxlength="17" placeholder="enter P.S" name="Police Station "></td>
<td>Distic:</td>
<td> <input type="text" size="15" name="Distric" maxlength="10" placeholder="enter distric name"></td>
<td>State:</td>
<td> <input type="text" size="15" name="State" maxlength="10" placeholder="enter satate name"></td>
</tr>
<tr><td>Pincode</td>
<td><input type="text" size="15" name="Pincode" maxlength="6" placeholder="enter pincode"></td>
<td>Nationality:</td>
<td><input type="text" size="15" name="Nationality" placeholder="enter nationality name"></td>
<td>Religion:</td>
<td> <input type="text" size="15" name="Religion"  placeholder="enter religion name"></td>
<td>Caste:</td>
<td> <input type="text" size="15" name="caste" placeholder="enter caste name"></td>
</tr>
<tr>
<td>Category:</td>
<td><input type="radio" name="category" value="Gen">Gen
<input type="radio" name="category" value="OBC">OBC
<input type="radio" name="category" value="ST">ST
<input type="radio" name="category" value="SC">SC</td>
</tr>
<tr>
<td>Mother Tonge:</td>
<td><input type="checkbox" name="Mother Tonge" value="Hindi">Hindi
<input type="checkbox" name="Mother Tonge" value="english">English
<input type="checkbox" name="Mother Tonge" value="bhojpuri">Bhojpuri</td></tr>
<tr><td> Married:</td>
<td><input type="radio" name="Married" value="Yes">Yes
<input type="radio" name="Married" value="No">No</td>
</tr>
<tr><td>E-mail ID:</td>
<td><input type="text" size="25" name="E-mail" placeholder="enter e-mail ID"></td>
</tr>
</form>
</table>
<table border="2" align="center"  id="a3"  width="90%">
<tr>
<th>Name of the examinationation:</th>
<th>Year</th>
<th>Roll No:</th>
<th>
<table border="2" align="center" >
<tr><th colspan="3">Marks:</th></tr>
<tr><td>Obtained Marks:</td>
<td>Maximum Marks:</td>
<td>Percentage%:</td></tr>
</table></th>
<th>Subject:</th>
<th>Board/University</th></tr>
<tr>
<th>High School:</th>
<td><input type="text" size="10" name="High School"></td>
<td><input type="text" size="10" name="High School"></td>
<td><table border="1"><tr>
<td><input type="text" size="10" name="High School"></td>
<td><input type="text" size="10" name="High School"></td>
<td><input type="text" size="10" name="High School"></td></tr></table>
<td><input type="text" size="10" name="High School"></td>
<td><input type="text" size="10" name="High School"></td></tr>
<tr><th>Intermediate:</th>
<td><input type="text" size="10" name="Intermediate"></td>
<td><input type="text" size="10" name="Intermediate"></td>
<td><table border="1"><tr><td><input type="text" size="10" name="Intermediate"></td>
<td><input type="text" size="10" name="Intermediate"></td>
<td><input type="text" size="10" name="Intermediate"></td></tr></table></td>
<td><input type="text" size="10" name="Intermediate"></td>
<td><input type="text" size="10" name="Intermediate"></td></tr>
<tr><th>Graduation:</th>
<td><input type="text" size="10" name="Graduation"></td>
<td><input type="text" size="10" name="Graduation"></td>
<td><table border="1"><tr><td><input type="text" size="10" name="Graduation"></td>
<td><input type="text" size="10" name="Graduation"></td>
<td><input type="text" size="10" name="Graduation"></td></tr></table></td>
<td><input type="text" size="10" name="Graduation"></td>
<td><input type="text" size="10" name="Graduation"></td></tr>
<tr><th>Post Graduation:</th>
<td><input type="text" size="10" name="Post Graduation"></td>
<td><input type="text" size="10" name="Post Graduation"></td>
<td><table border="1"><tr><td><input type="text" size="10" name="Post Graduation"></td>
<td><input type="text" size="10" name="Post Graduation"></td>
<td><input type="text" size="10" name="Post Graduation"></td></tr></table></td>
<td><input type="text" size="10" name="Post Graduation"></td>
<td><input type="text" size="10" name="Post Graduation"></td></td>
<tr><td><input type="button" name="submit" value="submit">
<input type="button" name="save" value="save"></td></tr>
</form>
</table>
</body>
</html>



